body{
    font-family:'Open Sans';
    font-style:condensed;
    background: #6a3093;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #a044ff, #6a3093);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #a044ff, #6a3093); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.green:hover{
    background:#03C9A9 !important;
    color:#FFF;
    border:3px solid #03C9A9;
    -webkit-transition:0.4s;
    -moz-transition:0.4s;
    -o-transition:0.4s;
    -ms-transition:0.4s;
    transition:0.4s;
}

.red:hover{
    background:#F62459;
    color:#FFF;
    border:3px solid #F62459;
    -webkit-transition:0.4s;
    -moz-transition:0.4s;
    -o-transition:0.4s;
    -ms-transition:0.4s;
    transition:0.4s;
}

.blue:hover{
    background:#3498DB;
    color:#FFF;
    border:3px solid #3498DB;
    -webkit-transition:0.4s;
    -moz-transition:0.4s;
    -o-transition:0.4s;
    -ms-transition:0.4s;
    transition:0.4s;
}

.purple:hover{
    background:#663399;
    color:#FFF;
    border:3px solid #663399;
    -webkit-transition:0.4s;
    -moz-transition:0.4s;
    -o-transition:0.4s;
    -ms-transition:0.4s;
    transition:0.4s;
}